<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="basic.css" rel="stylesheet">
</head>
<body>
<form class="form-container" id="loginForm">
    <div class="title">
        <h2 class="form-title">Login</h2>
    </div>
    <div class="form-group">
        <label for="email">Candidate Email</label>
        <input id="email" placeholder="Email" required type="email"/>
    </div>
    <div class="form-group" id="interviewerEmailDiv">
        <label for="email">Interviewer Email</label>
        <input id="interviewerEmail" placeholder="Email" required type="email"/>
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select class="custom-select" id="role">
            <option value="CANDIDATE">Candidate</option>
            <option value="INTERVIEWER">Interviewer</option>
        </select>
    </div>

    <button type="submit">Login</button>
</form>

<script>
    document.getElementById('interviewerEmailDiv').style.display = 'none';
   document.getElementById("role").onchange = (e) => {
   e.preventDefault();
   let value = e.currentTarget.value;
   if('INTERVIEWER' === value) {
       document.getElementById('interviewerEmailDiv').style.display = "";
   }
   }
   document.getElementById("loginForm").onsubmit = async (e) => {
     e.preventDefault();

     const email = document.getElementById("email").value;
     const role = document.getElementById("role").value;

     const res = await fetch("/auth/login", {
       method: "POST",
       headers: { "Content-Type": "application/json" },
       body: JSON.stringify({ email, role })
     });

     const data = await res.json();

     localStorage.setItem("jwt", data.token);
     localStorage.setItem("roomId", data.roomId);

     window.location.href =
       role === "CANDIDATE" ? "/candidate" : "/interviewer";
   };
</script>

</body>
</html>